.most-wanted {
  text-align: center;
  max-width: calc(300px * 4 + 16pt * 3);
  margin-inline: auto;
  h2 {
    font-family: var(--title-font);
    font-weight: normal;
  }
  .product-banner {

    display: flex;
    gap: 16pt;
    flex-wrap: wrap;
    justify-content: center;
  }
}
