.main {
    max-height: 400px;
    position: relative;
    background-color: var(--fg-color);
    img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        opacity: 0.7;
    }
    .text {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-30%, -50%);
        color: var(--bg-color);
        h1 {
            font-family: var(--title-font);
            font-size: 4em;
            margin-bottom: 0;
            font-weight: normal;
            text-shadow: 1px 1px var(--fg-color);

        }
        h2 {
            font-family: var(--normal-font);
            font-weight: 500;
            font-size: 1.5em;
            text-shadow: 1px 1px var(--fg-color);
            width: 100%;
        }
    }
}