.main {
    padding: 16pt;
    max-width: 80%;
    margin-inline: auto;
    .banner {
        width: 100%;
        position: relative;
        img {
            width: 100%;
            max-height: 300px;
            object-fit: cover;
            object-position: top;
        }
        .title {
            font-family: var(--title-font);
            position: absolute;
            font-size: 3em;
            padding: 0;
            margin: 0;
            top: 40%;
            left: 50%;
            transform: translate(-40%, -50%);
            color: var(--bg-color);
            text-shadow: 1px 1px var(--fg-color);
        }
    }
    .products {
        position: relative;
        margin-top: -50px;
        ul {
            display: flex;
            list-style: none;
            gap: 8pt;
            overflow-x: auto;
            width: 80vw;
        }
    }
}