.main {
    background-color: var(--fg-color);
    padding: 16pt;
    display: flex;
    justify-content: space-around;
    .links {
        ul {
            list-style: none;
            li a {
                color: var(--bg-color);
            }
        }
    }    
    .logo {
        img {
            width: 96pt;
            height: auto;
        }
    }
}