.navbar {
    border-bottom: 1px solid #F0F0FF;
    .top {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16pt;
        padding-inline: 1em;
        .logo {
            height: 100px;
            img {
                height: 100px;
                width: auto;
            }
        }
        .user_actions ul{
            list-style: none;
            padding: 0;
            display: flex;
            gap: 8pt;
            img {
                height: 24pt;
            }
            
        }
    }
    .categories {
        font-family: var(--title-font);
        max-width: 1000px;
        margin-inline: auto;
        ul {
            padding: 0;
            display: flex;
            list-style: none;
            margin: 0 16pt;
            gap: 8pt;
            li {
                flex: 1;
                margin-bottom: 0;
                font-size: 14pt;                
                a {
                    position: relative; 

                    &::before {
                        content: "";
                        background-color: var(--accent);
                        position: absolute;
                        bottom: 3pt;
                        width: 0;
                        left: 0;
                        height: 4pt;
                        z-index: -1;
                        transition: width 300ms ease;
                    }
                    &:hover {
                        &::before {
                            width: 110%;
                        }
                        
                    }
                }
            }
        }
    }   
}
@media (max-width: 500px) {
    .top {

        .logo {
            margin-right: auto;
        }
    }
    .categories ul {
        overflow-x: auto;
    }
    
}