.main {
    max-width: 300px;
    min-width: 200px;
    display: inline-block;
    // margin-left: 16pt;
    .img {
        position: relative;
        width: fit-content;
        
        img {
            height: 450px;
            width: auto;
        }
        .fav {
            opacity: 0;
            transition: opacity 100ms linear;
            position: absolute;
            top: 16pt;
            right: 16pt;
            img {
                height: 24pt;
                width: 24pt;
            }
        }
        &.loading {
            height: 450px;
            width: auto;
            text-align: center;
            img {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                width: 128px;
                height: auto;
                animation: loading 5s linear 12 forwards;
                transform-origin: center center;
                transform: rotate(0);
            }
            .fav {
                opacity: 0;
            }
        }
    }
    .info {
        width: 300px;
        text-align: center;
        font-family: var(--normal-font);
        .sale {
            font-weight: normal;
            text-decoration: line-through;
        }
        .price {
            font-weight: 600;
        }
    }
    &:hover {
        .fav {
            opacity: 1;
        }
    }
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
    
}
@media (max-width: 768px) {
    .main {
        .img {
            img {
                height: 300px !important;
            }
            &.loading {
                height: 300px !important;
                width: 200px !important;
            }
        }
        .info {
            text-align: start;
            width: 200px;
        }
    }
}